<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>

    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="cal-header">
        <div class="blank">&nbsp;</div>
        <div class="week-day">Mon</div>
        <div class="week-day">Tue</div>
        <div class="week-day">Wed</div>
        <div class="week-day">Thu</div>
        <div class="week-day">Fri</div>
        <div class="week-day">Sat</div>
      </div>
      <div class="clear-float"></div>
    </div>

    <div id="calendar">
      <div class="time-col">
        <div class="hour-slot">8am</div>
        <div class="hour-slot">9am</div>
        <div class="hour-slot">10am</div>
        <div class="hour-slot">11am</div>
        <div class="hour-slot">12pm</div>
        <div class="hour-slot">1pm</div>
        <div class="hour-slot">2pm</div>
        <div class="hour-slot">3pm</div>
        <div class="hour-slot">4pm</div>
        <div class="hour-slot">5pm</div>
        <div class="hour-slot">6pm</div>
        <div class="hour-slot">7pm</div>
        <div class="hour-slot">8pm</div>
        <div class="hour-slot">9pm</div>
        <div class="hour-slot">10pm</div>
      </div>
      <div class="calendar-container">
        <div class="week-col">
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
        </div>
        <div class="week-col">
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
        </div>
        <div class="week-col">
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
        </div>
        <div class="week-col">
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
        </div>
        <div class="week-col">
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
        </div>
        <div class="week-col">
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
          <div class="time-slot"></div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>