<!DOCTYPE html>
<html>
	<head>
		<title>TitanPlanner</title>		
		<link rel="stylesheet" href="style.css" type="text/css"/>
	</head>

	<body>
		<div id="header">
			<div class="left">
				<h1>TitanPlanner<sup>beta</sup></h1>
			</div>
		</div>
		<div id="table" class="clear-float">
			<div class="week">
				<div class="time-blank" width="45px"> </div>
				<div class="col">Sun</div>
				<div class="col">Mon</div>
				<div class="col">Tue</div>
				<div class="col">Wed</div>
				<div class="col">Thu</div>
				<div class="col">Fri</div>
				<div class="col">Sat</div>
			</div>
			<div class="row">
				<div class="time">8am</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">9am</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">10am</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">11am</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">12pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">1pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">2pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">3pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">4pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">5pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">6pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">7pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">8pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">9pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
			<div class="row">
				<div class="time">10pm</div>
				<div class="col sun"></div>
				<div class="col mon"></div>
				<div class="col tue"></div>
				<div class="col wed"></div>
				<div class="col thu"></div>
				<div class="col fri"></div>
				<div class="col sat"></div>
			</div>
		</div>
	</body>

</html>