<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar</title>

  <!-- Bootstrap -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <link href="style.css" rel="stylesheet">
    </head>
    <body>
      <div class="container">
        <h1>Important Dates</h1>
        <div class="panel-group" id="accordian">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapseOne">
                  Fall 2014
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>Date</th>
                    <th>Event</th>
                  </tr>
                  <tr>
                    <td>7/25/13</td>
                    <td>Fall 2014 Titan registration begins.</td>
                  </tr>
                  <tr>
                    <td>8/18/14</td>
                    <td>Fall 2014 classes begin.</td>
                  </tr>
                  <tr>
                    <td>9/20/14</td>
                    <td>Campus closed for Martin Luther King Jr. Day</td>
                  </tr>
                  <tr>
                    <td>10/17/14</td>
                    <td>Campus closed for Labor Day.</td>
                  </tr>
                  <tr>
                    <td>11/31/14</td>
                    <td>Campus closed for Thanksgiving.</td>
                  </tr>
                  <tr>
                    <td>12/16/14</td>
                    <td>Last day of final exams for Fall 2014.</td>
                  </tr>  
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapseTwo">
                Summer 2014
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>Date</th>
                    <th>Event</th>
                  </tr>
                  <tr>
                    <td>06/05/13</td>
                    <td>Summer 2014 Titan registration begins.</td>
                  </tr>
                  <tr>
                    <td>06/18/14</td>
                    <td>Summer 2014 classes begin.</td>
                  </tr>
                  <tr>
                    <td>06/20/14</td>
                    <td>Campus closed for Martin Luther King Jr. Day</td>
                  </tr>
                  <tr>
                    <td>07/17/14</td>
                    <td>Campus closed for President’s Day.</td>
                  </tr>
                  <tr>
                    <td>07/31/14</td>
                    <td>Campus closed for Cesar Chavez Day.</td>
                  </tr>
                  <tr>
                    <td>07/31/14 - 04/06/14</td>
                    <td>Spring 2014 Recess - No Classes.</td>
                  </tr>
                  <tr>
                    <td>08/16/14</td>
                    <td>Last day of final exams for Summer 2014.</td>
                  </tr>  
                </table>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordian" href="#collapseThree">
                Spring 2014
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>Date</th>
                    <th>Event</th>
                  </tr>
                  <tr>
                    <td>10/25/13</td>
                    <td>Spring 2014 Titan registration begins.</td>
                  </tr>
                  <tr>
                    <td>01/18/14</td>
                    <td>2014 classes begin.</td>
                  </tr>
                  <tr>
                    <td>01/20/14</td>
                    <td>Campus closed for Martin Luther King Jr. Day</td>
                  </tr>
                  <tr>
                    <td>02/17/14</td>
                    <td>Campus closed for President’s Day.</td>
                  </tr>
                  <tr>
                    <td>03/31/14</td>
                    <td>Campus closed for Cesar Chavez Day.</td>
                  </tr>
                  <tr>
                    <td>03/31/14 - 04/06/14</td>
                    <td>Spring 2014 Recess - No Classes.</td>
                  </tr>
                  <tr>
                    <td>05/16/14</td>
                    <td>Last day of final exams for Spring 2014.</td>
                  </tr>  
                </table>
              </div>
            </div>
          </div>       
        </div>
      </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="dist/js/bootstrap.min.js"></script>
    </body>
    </html>