<!-- 
Name: Dana Toribio
Date: 4/15/14
Filename: search.html
Description: This is the search page of TitanPlanner, which contains the search form using HTML, CSS and jQuery, which will be implemented in later versions.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>

    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

	<body>
		<div id="logo">
			<div class="container">
				<div class="float-left">
					<h1></h1>
				</div>
				<div class="btn-group dropdown" style="float: right; margin: 12px 0;">
				  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu pull-right">
				    <!-- Dropdown menu links -->
				    <li><a href="important-dates.html" target="right-page">Important Dates</a></li>
				    <li><a href="">Export to PDF</a></li>
				    <li><a href="">Export to URL</a></li>
				    <li class="divider"></li>
				    <li><a href="">Send Feedback</a></li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="clear-float"></div>
		<div class="container-fluid">
			<div class="page-header">
			<h2>Search for Classes</h2></div>
			<p>Select at least 2 search criteria. Click Search to view your search results.</p>

			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="course-semester" class="control-label col-xs-offset-1 col-xs-3">Semester</label>
					<div class="col-xs-5">
						<select type="semester" class="form-control input-sm">
							<option value="sp14">Spring 2014</option>
							<option value="su14" selected>Summer 2014</option>
							<option value="f14">Fall 2014</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="subject-area" class="control-label col-xs-offset-1 col-xs-3">Subject Area</label>
					<div class="col-xs-5">
						<select type="subject-area" class="form-control input-sm">
							<option value="cpsc">Computer Science</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="course-number" class="control-label col-xs-offset-1 col-xs-3">Course Number</label>
					<div class="col-xs-5">
						<input type="course-number" class="form-control input-sm" id="semester" placeholder="Course Number">
					</div>
				</div>
				<div class="form-group">
					<label for="course-career" class="control-label col-xs-offset-1 col-xs-3">Course Career</label>
					<div class="col-xs-5">
						<select type="subject-area" class="form-control input-sm">
							<option value="undergraduate">Undergraduate</option>
							<option value="graduate">Graduate</option>
							<option value="professional-teaching">Professional/Teaching</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="keyword" class="control-label col-xs-offset-1 col-xs-3">Course Keyword</label>
					<div class="col-xs-5">
						<input type="keyword" class="form-control input-sm" id="keyword" placeholder="Keyword">
					</div>
				</div>
				<div class="form-group">
					<label for="days-of-week" class="control-label col-xs-offset-1 col-xs-3">Days of Week</label>
					<div class="col-xs-8">
						<label class="checkbox-inline">
							<input type="checkbox" id="day1" value="M"> Mon
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="day2" value="T"> Tue
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="day3" value="W"> Wed
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="day4" value="R"> Thu
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="day5" value="F"> Fri
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" id="day6" value="S"> Sat
						</label>
					</div>
				</div>
				<div class="form-group" style="padding-top: 1em;">
					<div class="col-xs-offset-4 col-sm-8">
						<button type="button" class="btn btn-default btn-sm">Display All</button>
						<button type="submit" class="btn btn-primary btn-sm">Submit</button>
					</div>
				</div>
			</form>
		</div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="dist/js/bootstrap.min.js"></script>
	    <script src="scripts.js"></
	</body>
</html>