/* ---- generic styles ---- */
html, body
{
	font-family: verdana;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

body
{
	overflow: ;
}


h1
{
	font-size: 1.5em;
}

/* ---- generic overrides ---- */

.clear-float
{
	clear: both;
}

.left, .blank, .week-day, .time.col, .week.col
{
	float: left;
}

/* ---- calendar header ---- */

.cal-header
{
	background-color: #f0f0f0;
	border-top: solid 1px #c0c0c0;
	border-bottom: solid 1px #c0c0c0;
	height: 20px;
	width: 100%;
}

.cal-header div
{
	text-align: center;
	width: 13%;
}

.cal-header .blank
{
	width: 60px;
}

.week-day
{
	font-size: 14px;
}

/* ---- calendar settings ---- */

#calendar
{
	height: 500px;
	overflow: auto;
	width: 100%;
}

.time-col
{
	float: left;
	width: 60px;
	text-align: right;
}

.hour-slot
{
	height: 60px;
	border-bottom: solid 1px #c0c0c0;
	border-right: double 3px #c0c0c0;
	padding-right: 5px;
}

.calendar-container
{
	width: 100%;
}

.week-col
{
	float: left;
	text-align: center;
	width: 13.1%;
}

.time-slot
{
	border-bottom: solid 1px #c0c0c0;
	border-right: double 3px #c0c0c0;
	height: 60px;
}