<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar</title>

  <!-- Bootstrap -->
  <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link href="../static/style.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/dist/js/bootstrap.min.js"></script>
<script src="../static/scripts.js"></script>
</head>
<body>
  <div id="header">
    <div class="cal-header">
      <div class="blank">&nbsp;</div>
      <div class="week-day">Mon</div>
      <div class="week-day">Tue</div>
      <div class="week-day">Wed</div>
      <div class="week-day">Thu</div>
      <div class="week-day">Fri</div>
      <div class="week-day">Sat</div>
    </div>
    <div class="clear-float"></div>
  </div>

  <div id="calendar">
    <div class="time-col">
      <div class="hour-slot"><h4>8<small>am</small></h4></div>
      <div class="hour-slot"><h4>9<small>am</small></h4></div>
      <div class="hour-slot"><h4>10<small>am</small></h4></div>
      <div class="hour-slot"><h4>11<small>am</small></h4></div>
      <div class="hour-slot"><h4>12<small>pm</small></h4></div>
      <div class="hour-slot"><h4>1<small>pm</small></h4></div>
      <div class="hour-slot"><h4>2<small>pm</small></h4></div>
      <div class="hour-slot"><h4>3<small>pm</small></h4></div>
      <div class="hour-slot"><h4>4<small>pm</small></h4></div>
      <div class="hour-slot"><h4>5<small>pm</small></h4></div>
      <div class="hour-slot"><h4>6<small>pm</small></h4></div>
      <div class="hour-slot"><h4>7<small>pm</small></h4></div>
      <div class="hour-slot"><h4>8<small>pm</small></h4></div>
      <div class="hour-slot"><h4>9<small>pm</small></h4></div>
      <div class="hour-slot"><h4>10<small>pm</small></h4></div>
    </div>
    <div class="calendar-container">
      <div class="week-col M">
        <div class="time-slot 8 AM"></div>
        <div class="time-slot 9 AM"></div>
        <div class="time-slot 10 AM"></div>
        <div class="time-slot 11 AM"></div>
        <div class="time-slot 12 PM"></div>
        <div class="time-slot 1 PM"></div>
        <div class="time-slot 2 PM"></div>
        <div class="time-slot 3 PM"></div>
        <div class="time-slot 4 PM"></div>
        <div class="time-slot 5 PM"></div>
        <div class="time-slot 6 PM"></div>
        <div class="time-slot 7 PM"></div>
        <div class="time-slot 8 PM"></div>
        <div class="time-slot 9 PM"></div>
        <div class="time-slot 10 PM"></div>
      </div>
      <div class="week-col T">
        <div class="time-slot 8 AM"></div>
        <div class="time-slot 9 AM"></div>
        <div class="time-slot 10 AM"></div>
        <div class="time-slot 11 AM"></div>
        <div class="time-slot 12 PM"></div>
        <div class="time-slot 1 PM"></div>
        <div class="time-slot 2 PM"></div>
        <div class="time-slot 3 PM"></div>
        <div class="time-slot 4 PM"></div>
        <div class="time-slot 5 PM"></div>
        <div class="time-slot 6 PM"></div>
        <div class="time-slot 7 PM"></div>
        <div class="time-slot 8 PM"></div>
        <div class="time-slot 9 PM"></div>
        <div class="time-slot 10 PM"></div>
      </div>
      <div class="week-col W">
        <div class="time-slot 8 AM"></div>
        <div class="time-slot 9 AM"></div>
        <div class="time-slot 10 AM"></div>
        <div class="time-slot 11 AM"></div>
        <div class="time-slot 12 PM"></div>
        <div class="time-slot 1 PM"></div>
        <div class="time-slot 2 PM"></div>
        <div class="time-slot 3 PM"></div>
        <div class="time-slot 4 PM"></div>
        <div class="time-slot 5 PM"></div>
        <div class="time-slot 6 PM"></div>
        <div class="time-slot 7 PM"></div>
        <div class="time-slot 8 PM"></div>
        <div class="time-slot 9 PM"></div>
        <div class="time-slot 10 PM"></div>
      </div>
      <div class="week-col R">
        <div class="time-slot 8 AM"></div>
        <div class="time-slot 9 AM"></div>
        <div class="time-slot 10 AM"></div>
        <div class="time-slot 11 AM"></div>
        <div class="time-slot 12 PM"></div>
        <div class="time-slot 1 PM"></div>
        <div class="time-slot 2 PM"></div>
        <div class="time-slot 3 PM"></div>
        <div class="time-slot 4 PM"></div>
        <div class="time-slot 5 PM"></div>
        <div class="time-slot 6 PM"></div>
        <div class="time-slot 7 PM"></div>
        <div class="time-slot 8 PM"></div>
        <div class="time-slot 9 PM"></div>
        <div class="time-slot 10 PM"></div>
      </div>
      <div class="week-col F">
        <div class="time-slot 8 AM"></div>
        <div class="time-slot 9 AM"></div>
        <div class="time-slot 10 AM"></div>
        <div class="time-slot 11 AM"></div>
        <div class="time-slot 12 PM"></div>
        <div class="time-slot 1 PM"></div>
        <div class="time-slot 2 PM"></div>
        <div class="time-slot 3 PM"></div>
        <div class="time-slot 4 PM"></div>
        <div class="time-slot 5 PM"></div>
        <div class="time-slot 6 PM"></div>
        <div class="time-slot 7 PM"></div>
        <div class="time-slot 8 PM"></div>
        <div class="time-slot 9 PM"></div>
        <div class="time-slot 10 PM"></div>
      </div>
      <div class="week-col S">
        <div class="time-slot 8 AM"></div>
        <div class="time-slot 9 AM"></div>
        <div class="time-slot 10 AM"></div>
        <div class="time-slot 11 AM"></div>
        <div class="time-slot 12 PM"></div>
        <div class="time-slot 1 PM"></div>
        <div class="time-slot 2 PM"></div>
        <div class="time-slot 3 PM"></div>
        <div class="time-slot 4 PM"></div>
        <div class="time-slot 5 PM"></div>
        <div class="time-slot 6 PM"></div>
        <div class="time-slot 7 PM"></div>
        <div class="time-slot 8 PM"></div>
        <div class="time-slot 9 PM"></div>
        <div class="time-slot 10 PM"></div>
      </div>
    </div>



    {% if list %}
    <ul>
      {% for course in list %}

      <script>
        $(document).ready(function() {
          createCourseDiv( "{{ course.days }}", "{{ course.start_time}}", "{{ course.end_time }}", "{{ course.subject }}", "{{ course.number }}", "{{ course.title }}", "{{ course.id }}" );
        });
      </script>

<!--       <div class="{{ course.days }} {{ course.start_time }} {{ course.end_time }}">
        <p>{{ course.subject }} {{ course.number }} : {{ course.title }}</p>
        <p>({{ course.days }}, {{ course.start_time }}-{{ course.end_time }})</p>
        <p><a href="{% url 'remove' course.id %}">remove</a></p>
      </div>
 -->      {% endfor %}
    </ul>
    {% else %}
    <p>No Courses are registered.</p>
    {% endif %}

    <script>

    </script>

  </div>
</body>
</html>