body
{
	margin-bottom: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* CALENDAR STYLES ------------------------*/
/* Generic Styles */
.float-left
{
	float: left;
}

.clear-float
{
	clear: both;
}

h1
{
	margin: 0;
	padding: 0.25em 0;
}

#logo
{
	background-color: #032D57;
	width: 100%;
	height: 60px;
}

#logo h1
{
	background-image: url(images/logo.png);
	height: 40px;
	width: 400px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 10px;
}

/* Calendar Header Styles */
.header-text
{
	background-color: #032D57;
}

#header h1
{
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	color: #fff;
	height: 50px;
}

/* General Calendar Styles */
.hour-slot
{
	text-align: right;
	padding-right: 8px;
}

.week-day
{
	text-align: center;
}

.hour-slot, .time-slot
{
	border-bottom: solid 1px #c0c0c0;
	border-right: double 3px #c0c0c0;
}

.hour-slot:last-child, .time-slot:last-child
{
	border-bottom: 0;
}

/* Calendar Weekdays Header */
.cal-header
{
	width: 100%;
}

.cal-header > div
{
	float: left;
	background-color: #f0f0f0;
	border-bottom: solid 1px #c0c0c0;
}

.cal-header .blank
{
	width: 8.8%;
}

.week-day
{
	float: left;
	width: 15.2%;
}

/* Calendar Main */
#calendar
{
	overflow: auto;
	position: relative;
	height: 480px;
}

.time-col
{
	float: left;
	width: 8.8%;
}

.hour-slot, .time-slot
{
	height: 60px;
}

.week-col
{
	float: left;
	width: 15.2%;
}
/* END CALENDAR STYLES --------------------------------*/
